.carousel {
  min-height: 100vh;

  & ul li img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}

.shadow {
  position: absolute;
  z-index: 15;
  background-color: #212121aa;
  padding: 20px 20px;

  .title  {
    font-size: 30px;
    margin-bottom: 10px;
  }

  ul {
    list-style-position: inside;
  }
}
