.container {
  background-image: url('/code.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;
}

.title  {
  padding: 20px 20px;
  top: 0px;
  font-size: 30px;
}

.skills {
  padding: 20px 30px; 
  display: flex;
  gap: 30px;

  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 120px);

  & h2 {
    text-align: center;
    padding: 60px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  & > div {
    text-align: center;
    background-color: #212121;
    padding-bottom: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
